# Generic
tmp/

# Maven Configuration
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

# Eclipse Configuration
.settings/
.classpath
.project

# IntelliJ Configuration
.idea/
*.iml
